@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;700&family=Kanit:wght@100;200;300;400&family=Montserrat+Subrayada:wght@400;700&family=Neuton:wght@200;300&family=Playfair+Display+SC:wght@400;700;900&family=Sofia&display=swap');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
nav {
  background-color: #8fb6d9;
  color: white;
  height: 25vh;
  width: 100vw;
  padding: 5%;
  display: flex;
  
}

nav > h1{
 font-family: "Sofia";
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f0eb;
}

a {
  font-weight: 500;
  color: #f25e29;
  text-decoration: inherit;
}
a:hover {
  color: #f25e29;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #1676c1;
}

h2{
  font-family: "Nueton";
  color: #8fb6d9;
}

h4 {
  font-family: "Playfair Display";
  color: #f25e29;
  font-size: 1.5em;
}

.cardJournal {
  height: 40vh;
  width: 85vw;
  background-color: #f0f2f2;
  border: 1px #f0e2c8 solid;
  box-shadow: 2px 4px 3px 3px #f2ece4;
  border-radius: 8px;
  margin: 5%;
  padding: 2%;
  display: flex;
}

.cardDescription {
  text-align: left;
  width: 70%;
  float: right;
  font-family: "Kanit";
}

.card-image{
  border-radius: 3%;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: lightpink;
  }
  button {
    background-color: #f9f9f9;
  }
}
